{% extends "base/main.jinja.html" %}

{% block title %}

    MyChannel - {{ title }}

{% endblock %}

{% block prePageContent %}{% endblock %}

{% block content %}

    <div class="page-content header-clear">

        <div class="splide single-slider slider-no-arrows slider-no-dots" id="single-slider-1">
            <div class="splide__track">
                <div class="splide__list">
                    <div class="splide__slide">
                        <div class="card mx-0 bg-17" data-card-height="230">
                            <div class="card-bottom mx-3">
                                <div class="">
                                    <h1 class="font-24 font-700 color-white mb-0">Meet Appeca</h1>
                                    <p class="color-white opacity-70 mt-n1 mb-3">The result of our over 10 years of experience as the only Elite Author on the Mobile Niche.</p>
                                </div>
                            </div>
                            <div class="card-overlay bg-gradient-overlay"></div>
                        </div>
                    </div>
                    <div class="splide__slide">
                        <div class="card mx-0 bg-11" data-card-height="230">
                            <div class="card-bottom mx-3">
                                <div class="">
                                    <h1 class="font-24 font-700 color-white mb-0">Creative & Unique</h1>
                                    <p class="color-white opacity-70 mt-n1 mb-3">Infuse your style, create your own elements, bring your ideas to life with Appeca.</p>
                                </div>
                            </div>
                            <div class="card-overlay bg-gradient-overlay"></div>
                        </div>
                    </div>
                    <div class="splide__slide">
                        <div class="card mx-0 bg-8" data-card-height="230">
                            <div class="card-bottom mx-3">
                                <div class="">
                                    <h1 class="font-24 font-700 color-white mb-0">Smart and Flexible</h1>
                                    <p class="color-white opacity-70 mt-n1 mb-3">Appeca is built for flexibility, every feature is ultra customizable and easy to edit!</p>
                                </div>
                            </div>
                            <div class="card-overlay bg-gradient-overlay"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        
        <div class="content mt-0">
            <h1 class="text-center mb-0">Welcome</h1>
            <p class="font-10 text-center mt-n2 mb-3 opacity-50">
                The biggest update to one of our best sellers.
            </p>
            <p class="boxed-text-xl">
                Our 10 years of experience to obtain the absolute best, fast loading, powerful Mobile Solution.
            </p>
        </div>
        
        <div class="splide single-slider slider-no-arrows slider-no-dots" id="single-slider-2">
            <div class="splide__track">
                <div class="splide__list">
                    <div class="splide__slide">
                        <div class="text-center">
                            <a href="#" class="icon icon-s rounded-s bg-facebook"><i class="fab fa-facebook-f"></i></a>
                            <a href="#" class="icon icon-s mx-2 rounded-s bg-instagram"><i class="fab fa-instagram"></i></a>
                            <a href="#" class="icon icon-s rounded-s bg-twitter"><i class="fab fa-twitter"></i></a>
                        </div>
                    </div>
                    <div class="splide__slide">
                        <div class="text-center">
                            <div class="row">
                                <div class="col-5 px-0">
                                    <a href="#" class="btn btn-sm rounded-s bg-highlight font-700 text-uppercase font-12 float-end">Get Started</a>
                                </div>
                                <div class="col-2 px-0">
                                    <span class="text-uppercase opacity-50 d-block pt-2">OR</span>
                                </div>
                                <div class="col-5 px-0">
                                    <a href="#" class="btn btn-sm rounded-s bg-green-dark font-700 text-uppercase font-12 float-start">Take a Tour</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="splide__slide">
                        <div class="text-center">
                            <a href="#" class="btn btn-sm rounded-s bg-highlight font-700 text-uppercase font-12">Purchase Appeca</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <p class="text-center mt-n3 font-10 opacity-50">There are multiple call to action styles. Swipe me left.</p>
        
        
        <div class="card bg-17" data-card-height="300">
            <div class="card-center text-center">
                <h1 class="color-white mb-n1">35k Happy Customers</h1>
                <p class="color-white opacity-70 boxed-text-xl pt-3 mb-5">
                    Over 35,000 customers can vouch for our quality items, and fast support. We made it here because of you, and we'll always respect you.
                </p>
                <a href="#" class="btn btn-m btn-center-m border-white btn-border color-white text-uppercase font-700 rounded-s">Purchase Today</a>
            </div>
            <div class="card-overlay bg-black opacity-85"></div>
        </div>
        
        
        <div class="content">
            <div class="d-flex mb-4">
                <div class="ms-auto align-self-center">
                    <span class="icon icon-m p-3 color-blue-dark"><i class="fa fa-smile font-40"></i></span>
                </div>
                <div class="ps-3">
                    <h5 class="font-700">Elite Quality</h5>
                    <p class="mb-0">We've been building mobile websites since the dawn of handhelds!</p>
                </div>
            </div>
            <div class="d-flex mb-4">
                <div class="ms-auto align-self-center">
                    <span class="icon icon-m p-3 color-yellow-dark"><i class="fa fa-star font-40"></i></span>
                </div>
                <div class="ps-3">
                    <h5 class="font-700">24/7 Support</h5>
                    <p class="mb-0">Easy to understand documentations and a forum dedicated for all your needs.</p>
                </div>
            </div>
            <div class="d-flex mb-4">
                <div class="ms-auto align-self-center">
                    <span class="icon icon-m p-3 color-red-dark"><i class="fa fa-heart font-40"></i></span>
                </div>
                <div class="ps-3">
                    <h5 class="font-700">Built for you</h5>
                    <p class="mb-0">The best mobile author on the market, and we got here by loving our customers.</p>
                </div>
            </div>
        </div>
        
        <div class="divider divider-margins"></div>
        
        <div class="card bg-8" data-card-height="150">
            <div class="card-center">
                <div class="d-flex">
                    <div class="align-self-center">
                        <h1 class="color-white font-700 font-20 px-3 mb-0">Did you Know?</h1>
                        <p class="color-white mb-0 px-3 opacity-70">
                            We are the only Elite Author on Envato Market with a Mobile only portfolio!
                        </p>
                    </div>
                    <div class="align-self-center me-auto">
                        <img src="https://cloudstore-mychannel-production.s3.amazonaws.com/assets/dist/appeca-mobile/images/preload-logo.png" width="70" class="mx-3">
                    </div>
                </div>
            </div>
            <div class="card-overlay bg-black opacity-80"></div>
        </div>
        
        <div class="divider divider-margins"></div>

        <div class="content">
            <h2 class="text-center">Featured Product</h2>
            <p class="boxed-text-xl">
                Check out our absolute Best Seller. Over 2000 Customers are using Sticky Mobile
            </p>
            <a href="https://cloudstore-mychannel-production.s3.amazonaws.com/assets/dist/appeca-mobile/images/sticky.png" data-gallery="gallery-1" class="card rounded-s mx-0 shadow-xl" style="background-image:url(https://cloudstore-mychannel-production.s3.amazonaws.com/assets/dist/appeca-mobile/images/sticky.png);" data-card-height="300">
                <div class="card-bottom">
                    <h1 class="color-white text-center mb-n2">Sticky Mobile</h1>
                    <p class="color-white text-center opacity-50 mb-3">The Best Selling Mobile PWA on the Market</p>
                </div>
                <div class="card-overlay bg-gradient-overlay rounded-s"></div>
            </a>
            <div class="row mb-0 mt-n2">
                <div class="col-4">
                    <a href="https://cloudstore-mychannel-production.s3.amazonaws.com/assets/dist/appeca-mobile/images/pictures/17.jpg" data-gallery="gallery-1" title="Your Caption Goes Here"><img src="https://cloudstore-mychannel-production.s3.amazonaws.com/assets/dist/appeca-mobile/images/pictures/17s.jpg" class="img-fluid rounded-s shadow-xl"></a>
                </div>
                <div class="col-4">
                    <a href="https://cloudstore-mychannel-production.s3.amazonaws.com/assets/dist/appeca-mobile/images/pictures/12.jpg" data-gallery="gallery-1" title="Your Caption Goes Here"><img src="https://cloudstore-mychannel-production.s3.amazonaws.com/assets/dist/appeca-mobile/images/pictures/12s.jpg" class="img-fluid rounded-s shadow-xl"></a>
                </div>
                <div class="col-4">
                    <a href="https://cloudstore-mychannel-production.s3.amazonaws.com/assets/dist/appeca-mobile/images/pictures/19.jpg" data-gallery="gallery-1" title="Your Caption Goes Here"><img src="https://cloudstore-mychannel-production.s3.amazonaws.com/assets/dist/appeca-mobile/images/pictures/19s.jpg" class="img-fluid rounded-s shadow-xl"></a>
                </div>
            </div>
            <p class="text-center font-10 opacity-50 mt-3 mb-2">Tap any of the Above Photos to view in Gallery Mode</p>
            <p class="boxed-text-xl">
                Numerous products from our portfolio have been featured on the Envato Marketplaces and we're always proud to show them off!
            </p>
            <a href="#" class="btn btn-m btn-center-m bg-highlight rounded-sm text-uppercase font-700">Purchase Today</a>
        </div>

        <div class="divider divider-margins"></div>
        
        <div class="card bg-8" data-card-height="350">
            <div class="card-center">
                <p class="text-center mb-3">
                    <i class="fa fa-star color-yellow-dark font-19"></i>
                    <i class="fa fa-star color-yellow-dark font-23"></i>
                    <i class="fa fa-star color-yellow-dark font-27"></i>
                    <i class="fa fa-star color-yellow-dark font-23"></i>
                    <i class="fa fa-star color-yellow-dark font-19"></i>
                </p>
                <h3 class="font-300 color-white opacity-80 boxed-text-xl line-height-xl"><i>The code is always great with any Enabled template, but it's the customer support that wins me over all the time. So responsive and helpful.</i></h3>
                <a href="#" class="d-block text-center pt-3">Eminat - ThemeForest Buyers</a>
            </div>
            <div class="card-overlay bg-black opacity-85"></div>
        </div>
        
        <div class="divider divider-margins"></div>
        
        <div class="content">
            <h1 class="text-center">So much More!</h1>
            <p class="text-center opacity-60 font-12 mt-n3">There are tons of awesome features awaiting!</p>
            <p class="boxed-text-xl mt-n3">
                There are hundreds of features and tens of pages awaiting to be discovered! Just one tap away!
            </p>
            <!-- <a href="#" data-menu="menu-main" class="btn btn-sm btn-center-m bg-highlight rounded-s text-uppercase font-700">Show me More</a> -->
        </div>
        
        <div class="divider divider-margins"></div>
        
        <!-- Page Footer  -->
        <div >
            <div class="footer">

            </div>
        </div>
        
    </div>
    <!-- Page content ends here-->  

{% endblock %}

{%  block postPageContent %}

    <!-- Be sure this is on your main visiting page, for example, the index.html page-->
    <!-- Install Prompt for Android -->
    <div id="menu-install-pwa-android" class="menu menu-box-bottom"
        data-menu-height="380" 
        data-menu-effect="menu-parallax">
        <img class="mx-auto mt-4 rounded-m" src="https://cloudstore-mychannel-production.s3.amazonaws.com/assets/dist/appeca-mobile/app/icons/icon-128x128.png" alt="img" width="90">
        <h4 class="text-center mt-4 mb-2">Appeca on your Home Screen</h4>
        <p class="text-center boxed-text-xl">
            Install Appeca on your home screen, and access it just like a regular app. It really is that simple!
        </p>
        <div class="boxed-text-m">
            <a href="#" class="pwa-install mx-auto btn btn-m font-600 bg-highlight text-uppercase btn-center-l">Add to Home Screen</a>
            <a href="#" class="pwa-dismiss close-menu btn-full mt-3 pt-2 text-center text-uppercase opacity-50 font-600 color-red-light font-12">Maybe later</a>
        </div>
    </div>   

    <!-- Install instructions for iOS -->
    <div id="menu-install-pwa-ios" 
        class="menu menu-box-bottom"
        data-menu-height="340" 
        data-menu-effect="menu-parallax">
        <div class="boxed-text-xl top-25">
            <img class="mx-auto mt-4 rounded-m" src="https://cloudstore-mychannel-production.s3.amazonaws.com/assets/dist/appeca-mobile/app/icons/icon-128x128.png" alt="img" width="90">
            <h4 class="text-center mt-4 mb-2">Appeca on your Home Screen</h4>
            <p class="text-center ms-3 me-3">
                Install Appeca on your home screen, and access it just like a regular app. Open your Safari menu and tap "Add to Home Screen".
            </p>
            <a href="#" class="pwa-dismiss close-menu btn-full mt-3 text-center text-uppercase font-900 color-red-light opacity-90">Maybe later</a>
        </div>
    </div>   

{% endblock %}