<!DOCTYPE HTML>
<html lang="en">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, viewport-fit=cover" />
<title>Appeca Mobile</title>
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300;400;500;700;900&family=Roboto:wght@300;400;500&display=swap" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="styles/bootstrap.css">
<link rel="stylesheet" type="text/css" href="styles/style.css">
<link rel="stylesheet" type="text/css" href="fonts/css/fontawesome-all.min.css">    
<link rel="manifest" href="_manifest.json" data-pwa-version="set_in_manifest_and_pwa_js">
<link rel="apple-touch-icon" sizes="180x180" href="app/icons/icon-192x192.png">
</head>
    
<body class="theme-light">
    
<div id="preloader"><div class="spinner-border color-highlight" role="status"></div></div>
    
<div id="page">
    
    <div class="header header-fixed header-dark header-logo-app">
        <a href="index.html" class="header-title header-subtitle">Tables</a>
        <a href="#" data-back-button         class="header-icon header-icon-1"><i class="fa fa-arrow-left"></i></a>
        <a href="#" data-menu="menu-main"    class="header-icon header-icon-2"><i class="fa fa-bars"></i></a>
        <a href="#" data-toggle-theme        class="header-icon header-icon-3"><i class="far fa-lightbulb"></i></a>
    </div>
    
    <div id="menu-main" class="menu menu-box-left" data-menu-load="menu-main.html" data-menu-width="280" data-menu-active="nav-components" data-menu-effect="menu-parallax"></div>
    <div id="footer-bar" class="footer-bar-1">
        <a href="index-components.html" class="active-nav"><i class="fa fa-layer-group"></i><span>Features</span></a>
        <a href="index-pages.html"><i class="fa fa-file"></i><span>Pages</span></a>
        <a href="index.html"><i class="fa fa-home"></i><span>Welcome</span></a>
        <a href="index-media.html"><i class="fa fa-camera"></i><span>Media</span></a>
        <a href="#" data-menu="menu-main"><i class="fa fa-bars"></i><span>Menu</span></a>
    </div>

    <div class="page-content header-clear">

        <p class="content">
            Classic tabs, these are not a special element but sometimes a very needed one to have. Styled to
            match the current highlight.
        </p>
        
        <div class="divider divider-margins"></div>
        
        <div class="content">
            <h4>Minimalist Table</h4>
            <p>
                Light table with colorful values and FontAwesome Icons.
            </p>
            <table class="table table-borderless">
                <thead>
                    <tr>
                        <th scope="col" class="font-17">Brand</th>
                        <th scope="col" class="font-17">Device</th>
                        <th scope="col" class="font-17">Status</th>
                        <th scope="col" class="font-17">Share</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row">Apple</th>
                        <td class="color-green-dark">$500</td>
                        <td><i class="fa fa-arrow-up rotate-45 color-green-dark"></i></td>
                        <td>35%</td>
                    </tr>
                    <tr>
                        <th scope="row">Android</th>
                        <td class="color-yellow-dark">$400</td>
                        <td><i class="fa fa-arrow-right rotate-45 color-yellow-dark"></i></td>
                        <td>55%</td>
                    </tr>
                    <tr>
                        <th scope="row">Nope</th>
                        <td class="color-red-dark">$300</td>
                        <td><i class="fa fa-arrow-right rotate-90 color-red-dark"></i></td>
                        <td>15%</td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div class="divider divider-margins"></div>
            
        <div class="content">
            <h4>Full Color Table</h4>
            <p>
                Match the page color scheme.
            </p>
            <table class="table table-borderless text-center shadow-l" style="overflow: hidden;">
                <thead>
                    <tr>
                        <th scope="col" class="bg-blue-dark color-white">Brand</th>
                        <th scope="col" class="bg-blue-dark color-white">Device</th>
                        <th scope="col" class="bg-blue-dark color-white">OS</th>
                        <th scope="col" class="bg-blue-dark color-white">Works</th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="bg-blue-light color-gray-light">
                        <th scope="row">Apple</th>
                        <td>iPhone</td>
                        <td>iOS</td>
                        <td>Yes</td>
                    </tr>
                    <tr class="bg-blue-light color-gray-light">
                        <th scope="row">Android</th>
                        <td>Pixel</td>
                        <td>Android</td>
                        <td>Yes</td>
                    </tr>
                    <tr class="bg-blue-light color-gray-light">
                        <th scope="row">Nope</th>
                        <td>Nope</td>
                        <td>nOS</td>
                        <td>Yees</td>
                    </tr>
                </tbody>
            </table>
        </div>
        
        <div class="divider divider-margins"></div>
        
        <div class="content">
            <h4>Dark Table</h4>
            <p>
                Dark tables are always gorgeous.
            </p>
            <table class="table table-borderless text-center shadow-l" style="overflow: hidden;">
                <thead>
                    <tr>
                        <th scope="col" class="bg-dark-dark color-white">Brand</th>
                        <th scope="col" class="bg-dark-dark color-white">Device</th>
                        <th scope="col" class="bg-dark-dark color-white">OS</th>
                        <th scope="col" class="bg-dark-dark color-white">Works</th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="bg-dark-light">
                        <th scope="row">Apple</th>
                        <td>iPhone</td>
                        <td>iOS</td>
                        <td>Yes</td>
                    </tr>
                    <tr class="bg-dark-light">
                        <th scope="row">Android</th>
                        <td>Pixel</td>
                        <td>Android</td>
                        <td>Yes</td>
                    </tr>
                    <tr class="bg-dark-light">
                        <th scope="row">Nope</th>
                        <td>Nope</td>
                        <td>nOS</td>
                        <td>Yees</td>
                    </tr>
                </tbody>
            </table>
        </div>
        
        <div class="divider divider-margins"></div>

        <div data-menu-load="menu-footer.html"></div>
    </div>
    <!-- Page Content Ends Here-->
    
</div>

<script type="text/javascript" src="scripts/bootstrap.min.js"></script>
<script type="text/javascript" src="scripts/custom.js"></script>
</body>
