<!DOCTYPE HTML>
<html lang="en">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, viewport-fit=cover" />
<title>Appeca Mobile</title>
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300;400;500;700;900&family=Roboto:wght@300;400;500&display=swap" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="styles/bootstrap.css">
<link rel="stylesheet" type="text/css" href="styles/style.css">
<link rel="stylesheet" type="text/css" href="fonts/css/fontawesome-all.min.css">    
<link rel="manifest" href="_manifest.json" data-pwa-version="set_in_manifest_and_pwa_js">
<link rel="apple-touch-icon" sizes="180x180" href="app/icons/icon-192x192.png">
</head>
    
<body class="theme-light">
    
<div id="preloader"><div class="spinner-border color-highlight" role="status"></div></div>
    
<div id="page">
    
    <div class="header header-fixed header-dark header-logo-app">
        <a href="index.html" class="header-title header-subtitle">Cards</a>
        <a href="#" data-back-button         class="header-icon header-icon-1"><i class="fa fa-arrow-left"></i></a>
        <a href="#" data-menu="menu-main"    class="header-icon header-icon-2"><i class="fa fa-bars"></i></a>
        <a href="#" data-toggle-theme        class="header-icon header-icon-3"><i class="far fa-lightbulb"></i></a>
    </div>
    
    <div id="menu-main" class="menu menu-box-left" data-menu-load="menu-main.html" data-menu-width="280" data-menu-active="nav-components" data-menu-effect="menu-parallax"></div>
    <div id="footer-bar" class="footer-bar-1">
        <a href="index-components.html" class="active-nav"><i class="fa fa-layer-group"></i><span>Features</span></a>
        <a href="index-pages.html"><i class="fa fa-file"></i><span>Pages</span></a>
        <a href="index.html"><i class="fa fa-home"></i><span>Welcome</span></a>
        <a href="index-media.html"><i class="fa fa-camera"></i><span>Media</span></a>
        <a href="#" data-menu="menu-main"><i class="fa fa-bars"></i><span>Menu</span></a>
    </div>

    <div class="page-content header-clear">
        
        <div class="content">
            <h4>Any content, anywhere!</h4>
            <p>
                The cards we use with our framework are incredibly powerful. These allow you to add any content you want, on any place on your cards!
            </p>
        </div>
        
        <div class="divider"></div>
        
        <div class="card bg-8" data-card-height="350">
            <div class="card-top text-start">
                <div class="mt-3 ms-3 color-white">
                    <i class="fa fa-angle-left font-30" style="transform:rotate(45deg)"></i><br>Top Left
                </div>
            </div>
            <div class="card-top text-center">
                <div class="mt-3 color-white">
                    <i class="fa fa-angle-up font-30"></i><br>Top Center
                </div>
            </div>
            <div class="card-top text-end">
                <div class="mt-3 me-3 color-white">
                    <i class="fa fa-angle-right font-30" style="transform:rotate(-45deg)"></i><br>Top Right
                </div>
            </div>

            <div class="card-center text-start">
                <div class="mt-3 ms-3 color-white">
                    <i class="fa fa-angle-left font-30"></i><br>Center Left
                </div>
            </div>
            <div class="card-center text-center">
                <div class="mt-3 color-white">
                    <i class="fa fa-circle font-30"></i><br>Middle
                </div>
            </div>
            <div class="card-center text-end">
                <div class="mt-3 me-3 color-white">
                    <i class="fa fa-angle-right font-30"></i><br>Center Right
                </div>
            </div>

            <div class="card-bottom text-start">
                <div class="mb-3 ms-3 color-white">
                    Bottom Left<br>
                    <i class="fa fa-angle-left font-30 pt-1" style="transform:rotate(-45deg)"></i>
                </div>
            </div>
            <div class="card-bottom text-center">
                <div class="mb-3 color-white">
                    Bottom Center<br>
                    <i class="fa fa-angle-down font-30 pt-1"></i>
                </div>
            </div>
            <div class="card-bottom text-end">
                <div class="mb-3 me-3 color-white">
                    Bottom Right<br>
                    <i class="fa fa-angle-right pt-1 font-30" style="transform:rotate(45deg)"></i>
                </div>
            </div>
            <div class="card-overlay bg-black opacity-70"></div>
        </div>

        <div class="divider divider-margins"></div>

        <div class="card bg-16" data-card-height="350">
            <div class="card-bottom">
                <div class="content mb-4">
                    <h1 class="color-white font-32 mb-2">Appeca PWA</h1>
                    <p class="color-white opacity-70">
                        A full flown PWA at the tip of your fingers, with easy to use code and fully customizable components for an amazing experience.
                    </p>
                </div>
            </div>
            <div class="card-overlay bg-gradient-overlay opacity-70"></div>
        </div>

        <div class="divider divider-margins"></div>
         
        <div class="card bg-12" data-card-height="450">
            <div class="card-center">
                <h1 class="text-center color-white font-30 font-800 mt-4 mb-n1">Tall is the New Wide</h1>
                <p class="color-white text-center font-14">Enjoy Awesome and Powerful  Flexibility</p>
                <a href="#" class="btn btn-m btn-center-l bg-highlight mb-3 font-800 text-uppercase scale-box">Get Started</a>
            </div>
            <div class="card-center mb-1">
            </div>
            <div class="card-overlay bg-black opacity-70"></div>
        </div>

        <div class="divider divider-margins"></div>
                
        <div class="card bg-18" data-card-height="350">
            <div class="card-center text-center">
                <h1 class="color-white font-32">Grab Attention</h1>
                <p class="color-white boxed-text-l opacity-80 mb-0">
                    Any position you want. Top, Bottom, Center 
                    with any type of content you want for cards.
                </p>
                <a href="#" class="btn btn-border btn-m font-800 text-uppercase mt-4 bg-white color-black">Call to Action</a>
            </div>
            <div class="card-overlay bg-black opacity-80"></div>
        </div>

        <div class="divider divider-margins"></div>
         
        <div class="card bg-19" data-card-height="250">
            <div class="card-center">
                <div class="content">
                    <div class="d-flex">
                        <div>
                        <h1 class="color-white font-27 mb-n2">With Icons</h1>
                        <p class="color-white opacity-70 mb-0">
                            FontAwesome 5 Ready
                        </p>
                        </div>
                        <div class="ms-auto align-self-center">
                            <i class="fa fa-heart fa-3x color-red-dark scale-icon me-3"></i>
                        </div>    
                    </div>
                </div>
            </div>
            <div class="card-overlay bg-black opacity-70"></div>
        </div>

        <div class="divider divider-margins"></div>

         
   
        <div data-menu-load="menu-footer.html"></div>
    </div>
    <!-- Page Content Ends Here-->
    
</div>

<script type="text/javascript" src="scripts/bootstrap.min.js"></script>
<script type="text/javascript" src="scripts/custom.js"></script>
</body>
